html, body {
	height: 100%;
}

body > .container-fluid {
	position: absolute;
	box-sizing: border-box;
	top: 0; left: 0;
	width: 100%; height: 100%;
	padding-top: 83px;
}

.navbar {
	border-radius: 0 !important;
	z-index: 9999;
}

.gh-buttons {
	margin-top: 20px;
}

#error {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 16px;
}

.editor {
	box-sizing: border-box;
	padding-bottom: 20px;
}

.ace_editor {
	border: 1px solid #ccc;
}

.clojure, .js {
	height: 50%;
}

.ast {
	height: 100%;
    padding-bottom: 200px;
}

.output-wrapper {
    position: absolute;
    bottom: 20px; height: 160px;
    left: 15px; right: 15px;
}

.controls {
    position: absolute;
    width: 120px;
}

.control-small {
    font-size: 14px;
}

.run-code {
    margin-top: 10px;
}

.output-container {
    margin-left: 140px;
    height: 100%;
}

.output {
    position: absolute;
    height: 160px;
}
